.section--search {
  .container--input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1 {
    color: white;
  }
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container--search--tap {
    display: flex;
    .tap--search {
      width: 16vw;
      height: 6vh;
      background-color: #1a122b;
      color: white;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #compare {
      width: 25vw;
      height: 6vh;
      background-color: #484154;
    }
  }
  .searchbar--wrapper {
    background-color: #1a122b;
    color: white;
    width: 85vw;
    height: 17vh;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;

    select {
      border-radius: 12px;
      border: none;
      width: 16%;
      height: 2rem;
      margin-right: 1rem;
    }
    .button--search {
      background-color: #196e86;
      color: white;
      border-radius: 7px;
      border: none;
      width: 3.5rem;
      height: 3.5rem;
      #emoji {
        font-size: 1.9rem;
      }
    }
  }
}
