.navbar-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #1a122b;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}
.img-wrapper {
  display: flex;
  align-items: center;
}
.titleLogo {
  height: 50px;
  margin-left: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  width: 35%;
  align-items: center;
  color: #ffffff;

  div {
    cursor: pointer;
  }
}

.find-a-car {
  text-decoration: none;
  color: #ffffff;
}

.deals {
  text-decoration: none;
  color: #ffffff;
}

.contact {
  text-decoration: none;
  color: #ffffff;
}

.sign-in {
  height: 36px;
  width: 83px;
  background-color: #313ef7;
  border: none;
  border-radius: 36px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  line-height: 2em;
}
