.navbar-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #1A122B;
  position: fixed;
  z-index: 9;
  width: 100vw;
  a{
    text-decoration: none;
    display: flex;
  }
}
.img-wrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo {
  height: 80px;
  width: 80px;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  width: 35%;
  align-items: center;
  color: #FFFFFF;

  div {
    cursor: pointer;
  }
}


.sign-in {
  height: 36px;
  width: 83px;
  background-color: #313EF7;
  border: none;
  border-radius: 36px;
  color: #FFFFFF;
  cursor: pointer;
}