.signIn {
  display: flex;
}

.page {
  position: absolute;
  max-width: 500px;
  right: 100;
  transform: translate(180%, 0);
}

.loginCard {
  background-color: white;
  font-size: 15px;
  line-height: 20px;
  display: inline-table;
  width: 450px;
  height: 500px;
  margin: 30px;
  margin-top: 120px;
  border: solid 2px rgb(198, 198, 200);
  border-radius: 15px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  padding-top: 10px;
}

.contentsWrap_1 {
  margin-top: 85px;
  flex: 1;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin: 20px;
  background-color: white;
  border: 1px solid grey;
}

.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: grey;
}

.errorMessage {
  margin-top: 8px;
  color: red;
  font-size: 12px;
}

.button {
  margin-top: 10px;
  width: 60%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #1a122b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #dadada;
  color: white;
}

.logo {
  position: absolute;
}

.logoImg {
  width: 175px;
  margin-top: -0.5em;
  transform: translate(100%, 0);
}

.btn1 {
  display: flex;
  text-align: center;
}

.in1 {
  position: relative;
  border-bottom: 4px solid rgb(237, 13, 112);
  width: 50%;
  padding-bottom: 30px;
}

.up1 {
  border-bottom: 1px solid rgb(198, 198, 200);
  width: 50%;
}

.bgImg {
  max-width: 50%;
}
.signInImg {
  width: 100%;
  max-height: 63%;
}
