.result--page {
  background-color: var(--primary);
  height: 60vh;

  .searched--car--section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 4vh 3.5rem 0 3.5rem;
    top: 60px;
    .--search--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      select {
        border: none;
        border-radius: 20px;
        width: 18%;
        height: 2rem;
        option {
          text-align: left;
        }
      }
      button {
        border: none;
        border-radius: 15px;
        color: white;
        background-color: #196e86;
        height: 2rem;
        width: 6rem;
        cursor: pointer;
      }
    }

    .button--back--wrapper {
      margin-top: 1.5rem;

      .button--back {
        border-radius: 25px;
        border: none;
        color: white;
        background-color: #8b8484;
        display: flex;
        align-items: center;
        cursor: pointer;

        #emoji {
          font-size: 1.5rem;
        }
      }
    }

    .searched--car--info {
      #car--image {
        border-radius: 18.47px;
        width: 15rem;
        height: 10rem;
      }
      .searched--car--info--wrapper {
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.7rem;
        margin-bottom: 0.4rem;

        .searched--car--favourite {
          cursor: pointer;
          background-color: white;
          border-radius: 999px;
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #bookmark {
            color: #5e6a81;
            font-size: 1.2rem;
          }
        }

        .searched--car--name {
          font-size: 2.3rem;
          font-weight: 600;
        }
      }
    }

    .searched--car--price--wrapper {
      display: flex;
      justify-content: space-between;

      .searched--card {
        display: flex;
        border-radius: 18.47px;
        flex-direction: column;
        width: 16rem;
        height: 10rem;
        background-color: #ffffff;

        &.--best {
          background-color: #fe7826;
        }

        .label--wrapper {
          display: flex;
          flex-direction: column;
          margin-top: 1.5rem;
          margin-left: 1rem;

          div {
            text-align: left;
          }

          #price {
            font-weight: 500;
            margin-top: 2rem;
            font-size: 1.5rem;
          }

          #label {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }

      .searched--card--compare {
        cursor: pointer;
        display: flex;
        border-radius: 18.47px;
        width: 16rem;
        height: 10rem;
        background-color: #cbcbcb;
        justify-content: center;
        align-items: center;
        #compare {
          font-weight: 800;
          text-align: center;
        }
      }
    }
  }

  .graph--section {
    background-color: #dedede;
    height: auto;
  }
}
